<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="h-full">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <h1 class="mt-10 text-center text-4xl font-bold">
      <%= title %>
    </h1>

    <% if (!currentUser) {%>
    <a href="/signup" class="mt-5 text-center self-center text-xl text-blue-600 hover:text-blue-400">Sign Up</a>
    <a href="/login" class="mt-5 text-center self-center text-xl text-blue-600 hover:text-blue-400">Log In</a>
    <% } %>

    <% if (currentUser) {%>
    <h2 class="mt-5 text-center text-2xl">
      Welcome <%= currentUser.firstName %>
    </h2>
    <h2 class="mt-5 text-center text-2xl">
      Status: <%= currentUser.membership_status.charAt(0).toUpperCase() + currentUser.membership_status.slice(1); %>
    </h2>
    <% if (currentUser.membership_status === 'user') { %>
    <%- include('secretModal.ejs') %>
    <% } %>

    <% if(secretCodeError.length !== 0){ %>
    <span class="block text-sm text-red-500 mt-2 text-center">
      <%= secretCodeError %>
    </span>
    <% } %>

    <% if(secretCodeSuccess.length !== 0){ %>
    <span class="block text-sm text-green-500 mt-2 text-center">
      <%= secretCodeSuccess %>
    </span>
    <% } %>

    <a href="/logout" class="mt-5 self-center text-xl text-red-500 hover:text-red-300">Log Out</a>
    <% } %>

    <% if (currentUser) { %>
    <a href="/newMessage" class="mt-5 self-start text-xl text-blue-500 hover:text-blue-300">New Message</a>
    <% } %>

    <% messages.forEach(message => { %>
    <div class="mt-5 p-3 border-2">
      <span class="font-bold"><%- message.title %></span>
      <% if (currentUser && currentUser.membership_status === 'member') {%>
      <span> - <%- message.user.fullname %></span>
      <% } %>
      <span class="block"><%- message.text %></span>
      <% if (currentUser && currentUser.membership_status === 'member') {%>
      <span class="text-sm text-gray-400"><%- 
      `${new Date(message.timestamp)
      .toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })} at
          ${new Date(message.timestamp)
          .toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', hour12: true })}` %>
      </span>
      <% } %>
    </div>
    <% }) %>

  </div>
</body>

</html>